.homeContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, var(--blue), var(--blue-dark));

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--white);
}

.rightContainer {
  display: flex;
  flex-direction: column;

  margin-right: 200px;
}

.rightContainer h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 8rem;
}

.githubBox {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.githubBox p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 300px;
}

.rightContainer button {
  flex: 1;

  background: var(--blue-dark);
  border-radius: 5px;
  outline: var(--blue);
  border: 0;
  color: var(--white);
  height: 4rem;
  line-height: 4rem;
  font-size: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  transition: filter 0.2s;
}

.rightContainer button:hover {
  filter: brightness(0.9);
}
